.auggleToggle input[type="checkbox"] {
  appearance: none;
  position: relative;
  bottom: 0.1px;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 3.5em;
  height: 1.1em;
  cursor: pointer;
}

.auggleToggle input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

.auggleToggle input[type="checkbox"]:checked {
  background-color: tomato;
  border-color: tomato;
}

.auggleToggle input[type="checkbox"]:checked::before {
  background-color: white;
  left: 2.35em;
}
