.auggleToggle input[type="checkbox"] {
  box-sizing: border-box;
  position: relative;
  border-radius: 20.53px;
  width: 40px;
  height: 18px;
  cursor: pointer;
  border: 1px solid #e5e5ea;
  background-color: #fff;
}

.auggleToggle input[type="checkbox"]::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  width: 15.75px;
  height: 15.75px;
  border-radius: 100px;
  transition: left 300ms linear;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}

.auggleToggle input[type="checkbox"]:checked {
  background-color: #7c4dff;
  border: 2px solid #7c4dff;
}

.auggleToggle input[type="checkbox"]:checked::before {
  background-color: #fff;
  left: 1.3em;
}
