.auggleToggle input[type="checkbox"] {
  box-sizing: border-box;
  position: relative;
  border-radius: 36.5px;
  width: 70px;
  height: 32px;
  cursor: pointer;
  background-color: #4cd964;
  border: 2px solid #4cd964;
}

.auggleToggle input[type="checkbox"]::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  transition: left 300ms linear;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}

.auggleToggle input[type="checkbox"]:checked {
  border: 2px solid rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.auggleToggle input[type="checkbox"]:checked::before {
  background-color: #fff;
  left: 2.4em;
}
